<!DOCTYPE html>
<html>
    <head>
        <title> Undecided </title>
        <meta name="description" content="">
        <meta name="keywords" content="">
    </head>
    <body>
        <nav class="nav-bar">
            <ul>
                <li> Title </li>
                <li>  Outlines </li>
                <li> Big Picture </li>
                <li> Data specification </li>
                <li> Background and related works </li>
                <li> Data set that have been used </li>
                <li> Contributions </li>
                <li> Methods </li>
                <li> Observation </li>
                <li> Conclusion </li>
                <li> Limitation </li>
            </ul>
        </nav>

        <!-- Title, author, and class, Professor's name -->
        <div class="Title-and-presenters">
            <h1> Global Warming and the effect it has on Human health </h1>
            <h3> Presenter: Anthony Campana, Andrew Persaud, Wally Hasnat, Adebayo Ajagunna</h3>
            <h3 > CSC 47400 Visualization - Professor Ronak Entemadpour </h3>
        </div>

        <div class="Outlines">
                
        </div>
        
    </body>
    <footer>

    </footer>
</html>    